/* Your code here */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    transition: all 0.3;
}

:root {
    --cell-width-height: 56px;
    --board-size: 9;
}

body {
    text-align: center;
    display: grid;
    place-items: center;
    gap: 1rem;
}

h1 {
    margin-bottom: calc(var(--cell-width-height)/2);
}

.game-container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(var(--board-size), auto);
    width: fit-content;
    gap: 0.2rem;
}

.cell {
    border: 1px solid black;
    /* border-collapse: collapse; */
    width: var(--cell-width-height);
    height: var(--cell-width-height);
    display: grid;
    place-items: center;
}

.cell:hover {
    box-shadow: 1px 1px 0 black;
}

/* cell color change on click */
.miss {
    background-color: red;
}

.hit {
    background-color: green;
}

.disable {
    box-shadow: none;
}

.disable:hover {
    box-shadow: none;
}

/* reset button */
button {
    /* display: inline; */
    width: fit-content;
    padding: 0.5rem 1rem;
}
